{% extends "base.html" %}
{% block container %}
<style>
    /* Styling for form elements */
    .form-horizontal {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    label {
        font-weight: bold;
        margin-bottom: 5px;
        display: block;
    }

    select,
    input[type="text"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }

    .spacer {
        margin-top: 20px;
    }

    .row {
        margin-bottom: 15px;
    }

    .btn {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .btn-primary {
        background-color: #007bff;
        color: #fff;
    }

    .btn-success {
        background-color: #28a745;
        color: #fff;
    }

    .btn-danger {
        background-color: #dc3545;
        color: #fff;
    }
</style>

<h3> Following Schema has been selected: <b>{{ selectSchema }}</b> </h3><br>

<form class="form-horizontal" method="POST" action="">
    {% csrf_token %}
    <label for="add">Add</label>
    <select id="add" name="add">
        <option value="no">No</option>
        <option value="yes">Yes</option>
    </select>

    <label for="delete">Delete</label>
    <select id="delete" name="delete">
        <option value="no">No</option>
        <option value="yes">Yes</option>
    </select>

    <div id="addSection" class="form-horizontal add" style="display: none;">
        {{ formset.management_form }}
        {% for form in formset %}
        <div class="row form-row spacer">
            <div class="col-12">
                <div class="form-group">
                    <label for="{{ form.propertyTitle.id_for_label }}">Property Title:</label>
                    {{ form.propertyTitle }}
                </div>
                <div class="form-group">
                    <label for="{{ form.propertyDescription.id_for_label }}">Property Description:</label>
                    {{ form.propertyDescription }}
                </div>
                <div class="form-group">
                    <label for="{{ form.propertyDataType.id_for_label }}">Property Datatype:</label>
                    {{ form.propertyDataType }}
                </div>
                <div class="form-group">
                    <label for="{{ form.propertyRequired.id_for_label }}">Property Required:</label>
                    <div class="custom-control custom-switch">
                        {{ form.propertyRequired }}
                    </div>
                </div>
            </div>
            <button class="col-12 btn btn-success add-form-row">+</button>
        </div>
        {% endfor %}
    </div>

    <div id="deleteSection" class="form-horizontal" style="display: none;">
        {% for item in selectedProperties %}
        <div class="form-group">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="{{ item.propertyTitle }}" name="checks[]" value="{{ item.propertyTitle }}">
                <label class="custom-control-label" for="{{ item.propertyTitle }}">{{ item.propertyTitle }}</label>
            </div>
        </div>
        {% endfor %}
    </div>
    

        <div class="col-4 offset-2">
            <button type="submit" class="btn btn-block btn-success"
                onclick="return redirectToSuccessPage()">Update</button>
        </div>
    </div>
</form>
{% endblock %}
{% block custom_js %}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#add').change(function () {
            if ($(this).val() === 'yes') {
                $('#addSection').show();
            } else {
                $('#addSection').hide();
            }
        });
    });

    $(document).ready(function () {
        $('#delete').change(function () {
            if ($(this).val() === 'yes') {
                $('#deleteSection').show();
            } else {
                $('#deleteSection').hide();
            }
        });
    });


    function updateElementIndex(el, prefix, ndx) {
        var id_regex = new RegExp("(" + prefix + "-\\d+)");
        var replacement = prefix + "-" + ndx;
        if ($(el).attr("for"))
            $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
        if (el.id) el.id = el.id.replace(id_regex, replacement);
        if (el.name) el.name = el.name.replace(id_regex, replacement);
    }

    function cloneMore(selector, prefix) {
        var newElement = $(selector).clone(true);
        var total = $("#id_" + prefix + "-TOTAL_FORMS").val();
        newElement
            .find(":input:not([type=button]):not([type=submit]):not([type=reset])")
            .each(function () {
                var name = $(this).attr("name");
                if (name) {
                    name = name.replace("-" + (total - 1) + "-", "-" + total + "-");
                    var id = "id_" + name;
                    $(this).attr({ name: name, id: id }).val("").removeAttr("checked");
                }
            });
        newElement.find("label").each(function () {
            var forValue = $(this).attr("for");
            if (forValue) {
                forValue = forValue.replace("-" + (total - 1) + "-", "-" + total + "-");
                $(this).attr({ for: forValue });
            }
        });
        total++;
        $("#id_" + prefix + "-TOTAL_FORMS").val(total);
        $(selector).after(newElement);
        var conditionRow = $(".form-row:not(:last)");
        conditionRow
            .find(".btn.add-form-row")
            .removeClass("btn-success")
            .addClass("btn-danger")
            .removeClass("add-form-row")
            .addClass("remove-form-row")
            .html("-");
        return false;
    }

    function deleteForm(prefix, btn) {
        var total = parseInt($("#id_" + prefix + "-TOTAL_FORMS").val());
        if (total > 1) {
            btn.closest(".form-row").remove();
            var forms = $(".form-row");
            $("#id_" + prefix + "-TOTAL_FORMS").val(forms.length);
            for (var i = 0, formCount = forms.length; i < formCount; i++) {
                $(forms.get(i))
                    .find(":input")
                    .each(function () {
                        updateElementIndex(this, prefix, i);
                    });
            }
        }
        return false;
    }

    $(document).on("click", ".add-form-row", function (e) {
        e.preventDefault();
        cloneMore(".form-row:last", "form");
        return false;
    });

    $(document).on("click", ".remove-form-row", function (e) {
        e.preventDefault();
        deleteForm("form", $(this));
        return false;
    });


    function redirectToSuccessPage() {
        window.location.href = "/success";
    }

</script>
{% endblock %}